body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color:bisque;
font-weight: bold;
padding: 10px;
}
h1,h3,h2{
    margin: 0px;
    
}
h1{
    color:crimson;
    font-size: 40px;

}
h2{
    color:coral;
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 25px;

}
h3{
    color:brown;
    font-size: 25px;
    padding-left: 35px;
    
}

li{
    list-style: square;
    padding-left: 20px;
}
a{
     padding-left: 90px;
}
button {
    
    background-color:peru;
    width:300px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin: 15px;
}